extends layout.pug

block content
  p=`Hello this is the user page of user ${userName}`

  style(type='text/css').
    *{
      list-style: none;
      text-decoration: none;
      background: #242424;
      font-family: sans-serif;
      color: #36bcff;
      box-sizing: border-box;
    }
    .sub-nav{
      display: flex;
      flex-direction: row;
      border: 2px solid #1786ff;
      justify-content: space-between;
      padding: 2px;
      width: 400px;
    }
    .submit-button{
      border: 2px solid #00cc70;
      color: #00cc70;
    }
    .left-nav{
      display: flex;
      flex-direction: row;
    }
    .main{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    .posts-container{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border: 2px solid #1786ff;
      padding: 10px;
      align-items: center;
      width: 60%;
    }
    .posts{
      display: flex;
      flex-direction: column;
      border: 2px solid #ff9705;
      color: white;
      width: 100%;
    }
    .title{

    }

  ul.sub-nav
    li=`User: ${userName}`
    li=`${followersCount} ${(followersCount > 1) ? 'Followers' : 'Follower'}`
    li.submit-button
      a(href='/' role='button') Follow (currently routed to /)
  div.main
    div.posts-container Render Posts here!
      each post in posts 
        //- mixin and an array
        .posts
          p.postDate=`Month: ${post.createdAt.getMonth() + 1} Day: ${post.createdAt.getDay() + 1}, Year: ${post.createdAt.getFullYear()}`
          h2.postTitle=post.title
          p.postContent=post.content
          li.likes=`likesIcon + likesCount: ${likesCount}`
          li.comments=`commentsIcon + commentsCount: ${commentsCount}`