extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/splash-banner.css")
  link(rel="stylesheet" href="/stylesheets/rh-feed.css")
  link(rel="stylesheet" href="/stylesheets/rh-articles.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div#main-banner
    div.banner-title
      div.title-one
        h2 SWE student with questions, answers, tips?
      div.title-two
        h2 You're in the right place.
    div#write-button
      button.create-post
        a(href="#") Start Writing
  div#rh-feed
    div.feed-heading
      p.feed-title What's new in the rabbit hole?
    div.feed-posts
      div.feed-posts_top
        div.post
          h4.post-title= posts[0].title
          div.article-content= posts[0].content
          div.article-button
            button.learn-more
              a(href="#") Learn more
        div.right-post-one
          h4.post-title= posts[1].title
          div.article-content= posts[1].content
          div.article-button
            button.learn-more
              a(href="#") Learn more
      div.feed-posts_bottom
        div.post
          h4.post-title= posts[2].title
          div.article-content= posts[2].content
          div.article-button
            button.learn-more
              a(href="#") Learn more
        div.right-post-two
          h4.post-title= posts[3].title
          div.article-content= posts[3].content
          div.article-button
            button.learn-more
              a(href="#") Learn more
  div#article-section-one
    div.article-one
      div.first-image
      div.first-article
        h4.article-title= posts[4].title
        div.article-snippet= posts[4].content
  div#article-section-two
    div.article-two
      div.second-article
        h4.article-title= posts[5].title
        div.article-snippet= posts[5].content
      div.second-image
