extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/splash-banner.css")
  link(rel="stylesheet" href="/stylesheets/rh-feed.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div#main-banner
    div.banner-title
      div.title-one
        h2 SWE student with questions, answers, tips?
      div.title-two
        h2 You're in the right place.
    div#write-button
      button.create-post
        a(href=`/${locals.authenticated ? 'posts/create' : 'users/login'}`) Start Writing
  div#rh-feed
    div.feed-heading
      p.feed-title What's new in the rabbit hole?
    div.feed-posts
      div.feed-posts_top
        div.post
          h4.post-title= posts[0].title
          div.article-content= posts[0].content
          div.article-button
            button.learn-more
              a(href=`/posts/${posts[0].id}`) Learn more
        div.right-post-one
          h4.post-title= posts[1].title
          div.article-content= posts[1].content
          div.article-button
            button.learn-more
              a(href=`/posts/${posts[1].id}`) Learn more
      div.feed-posts_bottom
        div.post
          h4.post-title= posts[2].title
          div.article-content= posts[2].content
          div.article-button
            button.learn-more
              a(href=`/posts/${posts[2].id}`) Learn more
        div.right-post-two
          h4.post-title= posts[3].title
          div.article-content= posts[3].content
          div.article-button
            button.learn-more
              a(href=`/posts/${posts[3].id}`) Learn more
