extends layout.pug

append head
  link(rel="stylesheet" href="/stylesheets/post-detail.css")
  link(rel="stylesheet" href="/stylesheets/create-comment.css")
  script(type="module" src="/javascripts/comments.js")

block content
  style(type="text/css").
  div.main
    div.article-post
      div(class='post-container')
        h2=post.title
        a(href=`/users/${post.userId}` class='author')=`${post.users.firstName} ${post.users.lastName}`
        span.timestamp=post.createdAt.toString().split(' ').slice(0, 4).join(' ')
        div.buttons
          p(class='content')=post.content
          a(class='btn-edit' href=`/posts/${post.id}/edit`) Edit
          a(class='btn-delete' href=`/posts/${post.id}/delete`) Delete
          a(class='btn-write' href=`/posts/${post.id}/comments/create`) Write a comment
        br
        div.line-break
    div.comment-box
      h4 Comments
      form(class="comment-form")
        input(type="hidden" name="_csrf" value=csrfToken)
        //- input(type="hidden" name="userId" value=csrfToken)
        input(type="hidden" name="postId" id='postId' value=postId)
        div
          label(for="content" class="comment-label") Write Comment Here
          textarea(name="content" class='comment-content')
        div
          button(type="submit" class='send-comment') Send
          a(href=`#` class="clear-comment") Clear
      div.comments-here
    div.space-box
    
