extends layout.pug

append head
  link(rel="stylesheet" href="/stylesheets/user-page.css")
  script(type="module" src="/javascripts/user-followers.js")

block content
  br
  div.main
    //- ul.sub-nav
      //- li=userName
      //- li=`followers (implement on weekend) ${followersCount}`
      //- li.submit-button
      //-   a(href='/' role='button') Follow api route make it green?
    div.posts-container
      h2=`${firstName} ${lastName}`
      div.line-break
      if theUserHasWrittenAPost
        div.post-con
      else
        if locals.authenticated
          if userId === locals.user.id
            div You haven't written any posts yet. Why not start now?
              button.start-writing
                a(href='/posts/create') Write
          else 
            div #{firstName} #{lastName} hasn't written any posts yet. Have you?
              button.start-writing
                a(href='/users/login') Write
  
