extends layout.pug

append head
  link(rel="stylesheet" href="/stylesheets/user-page.css")
  script(type="module" src="/javascripts/user-followers.js")

block content
  style(type="text/css").
      .postsContainer {
        border: 3px solid black;
        border-radius: 4px;
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px;
      }
  br
  div.postsContainer
  div.main
    //- ul.sub-nav
      //- li=userName
      //- li=`followers (implement on weekend) ${followersCount}`
      //- li.submit-button
      //-   a(href='/' role='button') Follow api route make it green?
    div.posts-container
      h2=`${firstName} ${lastName}`
      div.line-break
      if posts.length
        each post in posts
          div.post-object
            ul.posts
              li.postDate=post.date
              li.postTitle
                a(href=`/posts/${post.postId}` class='postTitle') #{post.title}
              li.postContent=post.content
            div.likesAndComments
              div#likes-icon Likes
              //- div.likes
                //- a(href='https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley')
                  //- img.likeIcon(src='./icons/like-thumbs-up.png', alt="logo")
                //- div.likesCount=post.likesCount
              div.comments
                a(href=`/posts/${post.postId}`)
                  img.commentIcon(src='./icons/comment.svg.png', alt="logo")
                div.commentsCount=post.commentsCount
          div.line-break
      else
        if locals.authenticated
          if userId === locals.user.id
            div You haven't written any posts yet. Why not start now?
              button
                a(href='/posts/create') Write
          else 
            div #{firstName} #{lastName} hasn't written any posts yet. Have you?
              button
                a(href='/users/login') Write
  
